.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#top {
  grid-area: topA;
}
#left {
  grid-area: leftA;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 10px;
}

#right {
  grid-area: rightA;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 10px;
}

#completed {
  grid-area: completedA;
  display: none;
  flex-direction: column;
  align-items: left;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 10px;
  animation-name: example;
  animation-duration: 40s;  
}
@keyframes example {
  0%   {background-color: red;}
  5%  {background-color: yellow;}
  10%   {background-color: red;}
  15%  {background-color: yellow;}
  20%   {background-color: red;}
  25%  {background-color: yellow;}
  30%   {background-color: red;}
  35%  {background-color: yellow;}
  40%   {background-color: red;}
  45%  {background-color: yellow;}
  50%   {background-color: red;}
  55%  {background-color: yellow;}
  60%   {background-color: red;}
  65%  {background-color: yellow;}
  70%   {background-color: red;}
  75%  {background-color: yellow;}
  80%   {background-color: red;}
  85%  {background-color: yellow;}
  90%   {background-color: red;}
  95%  {background-color: yellow;}
  100% {background-color: red;}
}

#container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  'topA topA'
  'leftA rightA'
  'completedA rightA';

}
.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
